<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">

    <listeners>
        <listener class-name="Org.Paramount.Listener.TestListener"/>
    </listeners>

    <test name="Paramount">
        <parameter name="Browser" value="chrome"/>
        <classes>

            <class name="Org.Paramount.Tests.ParamountTests"/>

        </classes>
    </test>
</suite>